.small-movie-card--default .small-movie-card__image {
  height: auto;
}

.small-movie-card--default .small-movie-card__image video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-50%, -50%);
}

.small-movie-card--default .small-movie-card__image img {
  position: relative;
}

.small-movie-card__image--img-hidden img {
  visibility: hidden;
}
